* Variáveis e Tipos de Variáveis

In [1]:
preco = 1000
tipo_preco = type(preco)
print("O tipo de preco é:",tipo_preco)

O tipo de preco é: <class 'int'>

In [2]:
preco = 10.00
tipo_preco = type(preco)
print("O tipo de preco é:",tipo_preco)

O tipo de preco é: <class 'float'>

15/01/2026
Aula 4 
Strings

In [3]:
# sua empresa
lat = "-22.09643"
lon = "-47.08294"

# startup adquirida 
latlon1 = "-22.08492;-47.06111"

latlon = f"{lat};{lon}"
print(latlon)

# outra forma de resolver o problema 
print(latlon1.find(";"))
lat1 = latlon1[0:9]
lon1 = latlon1[10:len(latlon1)]
print(lat1)
print(lon1)

-22.09643;-47.08294
9
-22.08492
-47.06111

In [4]:
nome = "aula 4, strings"
print(nome)
print(type(nome))

aula 4, strings
<class 'str'>

In [5]:
# operações de concatenação
nome = "beatriz"
sobrenome = "silva"

apresentacao = "ola, meu nome é " + nome + " " + sobrenome + "."
print(apresentacao)

ola, meu nome é beatriz silva.

In [6]:
# operador de formatação f-string
nome = "beatriz"
sobrenome = "silva"

apresentacao = f'ola, meu nome é {nome} {sobrenome}.'
print(apresentacao)

ola, meu nome é beatriz silva.

In [7]:
# operação de fatiamento (slicing)

# email esta em formato de uma lista indexada 
email = "andre.perez@gmail.com"

print(email[4])

print(email[0:11])  # fatiamento do caractere 0 ao 10

nome_usuario = email[0:11]
print(f'o nome do usuário é {nome_usuario}')

e
andre.perez
o nome do usuário é andre.perez

In [8]:
endereco = "Bairro Eldorado, Rua Flamengo, 447, Acre, Brasiléia, Brasil"

# maiusculo  
## string.upper()
endereco_maior = endereco.upper()
print(endereco_maior)

# minusculo
endereco_menor = endereco.lower()
print(endereco_menor)

# remoção de espaços em branco
endereco_espaco = "             Bairro Eldorado, Rua Flamengo, 447, Acre, Brasiléia, Brasil    "
endereco_limpo = endereco_espaco.strip()
print(endereco_limpo)

# substituição de caracteres
## string.replace('antigo', 'novo')

endereco_novo = endereco.replace('Brasiléia', 'Rio Branco')
print(endereco_novo)

# posicao 
## string.find('substring')
posicao = endereco.find('Rua')
print(posicao) 

print(endereco[17:29])

BAIRRO ELDORADO, RUA FLAMENGO, 447, ACRE, BRASILÉIA, BRASIL
bairro eldorado, rua flamengo, 447, acre, brasiléia, brasil
Bairro Eldorado, Rua Flamengo, 447, Acre, Brasiléia, Brasil
Bairro Eldorado, Rua Flamengo, 447, Acre, Rio Branco, Brasil
17
Rua Flamengo

In [9]:
# Conversão de tipos

idade = 19 
print(type(idade))

idade_str = str(idade)
print(type(idade_str))

faturamento = 'R$ 89 milhões'
faturamento = int(faturamento[3:5])
print(type(faturamento))
print(faturamento)

<class 'int'>
<class 'str'>
<class 'int'>
89

15/01/2026
Aula 5 Booleanos

In [10]:
usuario = 'beatriz.silva'
senha = 'abc12345'

usuario_cadastro = 'beatriz.silva'
senha_cadastro = 'abc12345'


usuario_login = usuario == usuario_cadastro
senha_login = senha == senha_cadastro
print(usuario_login)
print(senha_login)


# decide se concede acesso
acesso = usuario_login & senha_login
print(acesso)

True
True
True

In [11]:
# exemplo caixa eletronico 

saldo_conta = 200 
valor_saque = 150

pode_sacar = valor_saque <= saldo_conta 
print(pode_sacar)

# exemplo Cartao de crédito 
codigo_seguranca = '852'
codigo_seguranca_cartao = '832'

efetuar_pagamento = codigo_seguranca == codigo_seguranca_cartao
print(efetuar_pagamento)

True
False

Operações com as variaveis booleanas 

* | (operador ou)
* & (operador e)
* not (operador não, inverte o valor da variável)

In [12]:
# exemplo da verdade do operador | 
# A or B
print(True | True)
print(True | False)
print(False | False)
print(False | True)

True
True
False
True

In [13]:
# exemplo da verdade do operador & 
# A and B 
print(True & True)
print(True & False)
print(False & False)    
print(False & True)

True
False
False
False

In [14]:
#operador not 
print(not True)
print(not False)

False
True

In [15]:
# Conversão 
idade = 19
tipo_sangue = 'O+'
filhos = 0
telefone_fixo = None
telefone_fixo1 = ''

print(bool(idade))
print(bool(tipo_sangue))
print(bool(filhos))
print(bool(telefone_fixo))
print(bool(telefone_fixo1))

True
True
False
False
False

PRATIQUE 
Exercício 1

In [16]:
print("Olá, mundo!")

Olá, mundo!

Exercicio 2

In [17]:
# (A)
qtd_vendas = 3
ticket_medio = 320.52
valor_total_A = qtd_vendas * ticket_medio
print(f"(A) O valor total da venda A é R$ {valor_total_A}")

#(B)
valor_total_B = 834.47 
ticket_medio_B = 119.21
qtd_vendas_B = valor_total_B / ticket_medio_B
print(f"(B) A quantidade de vendas B é {int(qtd_vendas_B)}")

#(C)
valor_total_C = 15378.12 
qtd_vendas_C = 5
ticket_medio_C = valor_total_C / qtd_vendas_C
print(f"(C) O ticket médio C é R$ {ticket_medio_C:.2f}")

(A) O valor total da venda A é R$ 961.56
(B) A quantidade de vendas B é 7
(C) O ticket médio C é R$ 3075.62

Exercicio 3

In [18]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

# 1
print(cancao.upper())

# 2
print(cancao.count('roda'))

#3 
print(cancao.replace("roda", "papel"))

#4
print(cancao.find('mundo'))

RODA MUNDO, RODA GIGANTE, RODA MOINHO, RODA PIÃO.
3
Roda mundo, papel gigante, papel moinho, papel pião.
5

Exercicio 4

In [19]:
noticia = "Selic vai a 2,75% e supera expectativas;" + \
"é a primeira alta em 6 anos."

selic_index = noticia.find("2")
print(selic_index)
selic = noticia[12:17]
print(f' O valor da taxa selic é {selic}')

ano_index = noticia.find('6')
print(ano_index)
ano = noticia[61:66]
print(f'O selic estava estagnada por {ano} anos')



selic = noticia[12:17]
ano = noticia[61:66]
print(selic)
print(ano)

12
 O valor da taxa selic é 2,75%
61
O selic estava estagnada por 6 ano anos
2,75%
6 ano

Exercicio 5

In [20]:
a = False 
b = True
x = not a & b

print(x)

True

15/01/2026
Módulo 2 
LISTAS

In [21]:
# MOTIVAÇÃO

saldo_inicial = 1000

transacao1 = 243
transacao2 = -798.58
transacao3 = 427.12
transacao4 = -10.91

saldo_total = saldo_inicial + transacao1 + transacao2 + transacao3 + transacao4
print(f'O saldo total da conta é R$ {saldo_total:.2f}')



# SOLUÇÃO COM LISTAS 
transacoes = list()
transacoes.append(243)
transacoes.append(-798.58)
transacoes.append(427.12)
transacoes.append(-10.91)

print(transacoes)
soma = sum(transacoes)
print(soma)
saldo_total = saldo_inicial + soma 
print(f'O saldo total da conta é R${saldo_total:.2f}')

O saldo total da conta é R$ 860.63
[243, -798.58, 427.12, -10.91]
-139.37000000000003
O saldo total da conta é R$860.63

In [22]:
# LISTAS 

usuario_web = [ 'Andre Perez', 'andre.perez@email.com', 'andre123', 'andre.perez']
print(usuario_web)
print(type(usuario_web))

['Andre Perez', 'andre.perez@email.com', 'andre123', 'andre.perez']
<class 'list'>

OPERAÇÃOES

In [23]:
# + concatenação 
fabricantes_mobile_china = ['Xiaomi', 'Oppo', 'Vivo']
fabricantes_mobile_eua = ['Apple', 'Google', 'Microsoft']

fabricantes_mobile = fabricantes_mobile_china + fabricantes_mobile_eua 
print(fabricantes_mobile)


# Slicing 
fc = fabricantes_mobile[0:3]
print(f'China:{str(fc)}')
fe = fabricantes_mobile[3: len(fabricantes_mobile)]
print(f'Estados Unidos:{str(fe)}')

# Alteração de valores; Replace 
fabricantes_mobile[2] = 'nokia'
print(fabricantes_mobile)

juros = [0.05, 0.1, 0.15, 0.2, 0.2, 0.25]
print(juros)

# inserir um elemento sem substituir: list.insert(posição, valor)
juros.insert(0, 0.1)
print(juros)

# inserir um elemento no final da lista: list.append(valor)
juros.append(0.5)
print(juros)

# remover um elemento da lista: list.remove(VALOR)
juros.remove(0.2)
print(juros)

# remover um elemento pelo índice: list.pop(INDICE)
juros.pop(3)
print(juros)

# limpar a lista: list.clear()
juros.clear()
print(juros)

['Xiaomi', 'Oppo', 'Vivo', 'Apple', 'Google', 'Microsoft']
China:['Xiaomi', 'Oppo', 'Vivo']
Estados Unidos:['Apple', 'Google', 'Microsoft']
['Xiaomi', 'Oppo', 'nokia', 'Apple', 'Google', 'Microsoft']
[0.05, 0.1, 0.15, 0.2, 0.2, 0.25]
[0.1, 0.05, 0.1, 0.15, 0.2, 0.2, 0.25]
[0.1, 0.05, 0.1, 0.15, 0.2, 0.2, 0.25, 0.5]
[0.1, 0.05, 0.1, 0.15, 0.2, 0.25, 0.5]
[0.1, 0.05, 0.1, 0.2, 0.25, 0.5]
[]

In [24]:
## Conversão 

email = 'andre.perez@gmail.com'
lista_email = list(email)
print(lista_email)

['a', 'n', 'd', 'r', 'e', '.', 'p', 'e', 'r', 'e', 'z', '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm']

Aula 2.2
conjuntos

In [25]:
#MOTIVAÇÃO
hashtags_seg = ['#tiago', '#joao', '#bbb' ]
hashtags_ter = ['#sarah', '#bbb', '#fiuk']
hashtags_qua = ['#gil', '#thelma', '#lourdes']
hashtags_qui = ['#rafa', '#fora', '#danilo']
hashtags_sex = ['#juliete', '#arthur', '#bbb']


hashtags_semana = hashtags_seg + hashtags_ter + hashtags_qua + hashtags_qui + hashtags_sex
print(hashtags_semana)


# eliminando duplicatas
hashtags_semana = list(set(hashtags_seg + hashtags_ter + hashtags_qua + hashtags_qui + hashtags_sex))
print(hashtags_semana)

['#tiago', '#joao', '#bbb', '#sarah', '#bbb', '#fiuk', '#gil', '#thelma', '#lourdes', '#rafa', '#fora', '#danilo', '#juliete', '#arthur', '#bbb']
['#gil', '#arthur', '#lourdes', '#bbb', '#joao', '#sarah', '#thelma', '#rafa', '#fora', '#danilo', '#juliete', '#tiago', '#fiuk']

In [26]:
# CONJUNTOS 
# são imutáveis desordenadas e sem repetição. São do tipo set 
frutas = {'banana', 'maca', 'uva','uva'}
print(frutas)
print(type(frutas))


# OPERAÇÕES COM CONJUNTOS
# - (diferença)
#exemplos: Países da europa 
norte_europa = {'reino unido', 'suecia', 'russia', 'noruega', 'dinamarca'}
escandinavia = {'noruega', 'dinamarca', 'suecia'}

norte_europa_nao_escandinavia = norte_europa - escandinavia
print(norte_europa_nao_escandinavia)

escandinavia_nao_norte_europa = escandinavia - norte_europa
print(escandinavia_nao_norte_europa)


# ADD adicionar novo elemento ao conjunto: set.add(VALOR)
cursos = {'Exatas', 'Humanas', 'Biologicas'}

# inserir novo curso
cursos.add('Saude')
print(cursos)

# remover curso: set.remove(VALOR)
cursos.remove('Exatas')
print(cursos)


# CONVERSÃO 
times_paulistas = {'Sao Paulo', 'Corinthians', 'Palmeiras', 'Santos'}
print(times_paulistas)
print(type(times_paulistas))

print(list(times_paulistas))
print(type(list(times_paulistas)))

{'banana', 'uva', 'maca'}
<class 'set'>
{'russia', 'reino unido'}
set()
{'Exatas', 'Biologicas', 'Saude', 'Humanas'}
{'Biologicas', 'Saude', 'Humanas'}
{'Sao Paulo', 'Santos', 'Corinthians', 'Palmeiras'}
<class 'set'>
['Sao Paulo', 'Santos', 'Corinthians', 'Palmeiras']
<class 'list'>

Aula 2.3 
DICIONÁRIOS

In [27]:
# MOTIVAÇÃO
wifi_disponiveis = ['rede1', 'cnx_cnx', 'uai-fi', 'r3d3']
print(wifi_disponiveis)


# SOLUÇÃO COM DICIONÁRIOS

wifi_disponiveis = []

rede = {'nome': 'rede1', 'senha': 'cnx_cnx'}
wifi_disponiveis.append(rede)

rede = {'nome': 'uai-fi', 'senha': 'r3d3'}
wifi_disponiveis.append(rede)

print(wifi_disponiveis)

# dicionarios armazenam pares de chave:valor. sao do tipo dict

brasil = {'capital' :'Brasilia', 'idioma':'portugues', 'populacao': 210}
print(brasil)
print(type(brasil))

carro = { 
    'marca': 'Ford',
    'modelo': 'Mustang',
    'ano': 1964,      # nao permite chaves duplicadas
    'ano': 2002
}
print(carro)


# Dicionarios compostos 
cadastro = {
    'andre': {
        'nome': 'Andre Perez',
        'idade': 30,
        'pais': {
            'pai': {
               'nome':
                 'Carlos Perez',
                 'idade': 58
            },
            'mae': { 
                'nome': 'Mariana Perez',
                         'idade': 55
            }
        }
    }
}


print(cadastro)

cadastro['andre']['pais']['pai']['idade']

['rede1', 'cnx_cnx', 'uai-fi', 'r3d3']
[{'nome': 'rede1', 'senha': 'cnx_cnx'}, {'nome': 'uai-fi', 'senha': 'r3d3'}]
{'capital': 'Brasilia', 'idioma': 'portugues', 'populacao': 210}
<class 'dict'>
{'marca': 'Ford', 'modelo': 'Mustang', 'ano': 2002}
{'andre': {'nome': 'Andre Perez', 'idade': 30, 'pais': {'pai': {'nome': 'Carlos Perez', 'idade': 58}, 'mae': {'nome': 'Mariana Perez', 'idade': 55}}}}

58

In [28]:
# OPERAÇÕES 
credito = {'123' : 750, '789' : 980}

# elementos sao acessados pela sua chave 
score_123 = credito['123']
score_789 = credito['789']

print(score_123)
print(score_789)


# os elementos sao alterados pela sua chave
credito['123'] = 800
print(credito)

# adicionar novo par chave:valor
credito['456'] = 670
print(credito)

750
980
{'123': 800, '789': 980}
{'123': 800, '789': 980, '456': 670}

In [29]:
# MÉTODOS 
artigo = dict(
    titulo = 'Aprendendo Python',
    corpo = 'Python é uma linguagem de programação...',
    autor = 'Beatriz Silva'
)

# adicionar ou atualizar um par chave:valor
artigo.update({'data_publicacao': '2024-06-15'})
print(artigo)

# remover um par chave:valor
artigo.pop('autor')
print(artigo)

{'titulo': 'Aprendendo Python', 'corpo': 'Python é uma linguagem de programação...', 'autor': 'Beatriz Silva', 'data_publicacao': '2024-06-15'}
{'titulo': 'Aprendendo Python', 'corpo': 'Python é uma linguagem de programação...', 'data_publicacao': '2024-06-15'}

In [30]:
# CONVERSÃO 
artigo = dict(
    titulo = 'Aprendendo Python',
    corpo = 'Python é uma linguagem de programação...',
    autor = 'Beatriz Silva'
)

chaves = list(artigo.keys())
print(chaves)
print(type(chaves))

valores = list(artigo.values())
print(valores)
print(type(valores))

['titulo', 'corpo', 'autor']
<class 'list'>
['Aprendendo Python', 'Python é uma linguagem de programação...', 'Beatriz Silva']
<class 'list'>

EXERCICIOS 

Modulo 2

In [31]:
frutas = ["maca", "banana", "laranja"]
frutas.pop()

frutas = {"maca" : "100g", "banana": "150g", "laranja": "200g"}
frutas.update({"manga": "250g"})
print(frutas)

{'maca': '100g', 'banana': '150g', 'laranja': '200g', 'manga': '250g'}

EXERCICIO 1

In [32]:
filmes = ["um sonho de liberdade", "o poderoso chefao","batman: o cavaleiro das trevas", "o poderoso chefão: Parte 2", "12 homens e uma sentença", " O senhor dos anéis: O retorno do rei", " A lista de Schindler", "o senhor dos anéis: A sociedade do anel", " Pulp Fiction", "Tres homens em conflito"]

filmes.pop(1)
print(filmes)
filmes.insert(0, "o poderoso chefao")
print(filmes)

['um sonho de liberdade', 'batman: o cavaleiro das trevas', 'o poderoso chefão: Parte 2', '12 homens e uma sentença', ' O senhor dos anéis: O retorno do rei', ' A lista de Schindler', 'o senhor dos anéis: A sociedade do anel', ' Pulp Fiction', 'Tres homens em conflito']
['o poderoso chefao', 'um sonho de liberdade', 'batman: o cavaleiro das trevas', 'o poderoso chefão: Parte 2', '12 homens e uma sentença', ' O senhor dos anéis: O retorno do rei', ' A lista de Schindler', 'o senhor dos anéis: A sociedade do anel', ' Pulp Fiction', 'Tres homens em conflito']

EXERCICIO 2

In [33]:
filmes = ["um sonho de liberdade", "o poderoso chefao","batman: o cavaleiro das trevas", "o poderoso chefão: Parte 2", "12 homens e uma sentença", " O senhor dos anéis: O retorno do rei", " A lista de Schindler", "o senhor dos anéis: A sociedade do anel", " Pulp Fiction", "Tres homens em conflito"]


print(len(filmes))
filmes.append(filmes[-1])
filmes.append(filmes[-1])
filmes.append(filmes[-1])
print(filmes)

10
['um sonho de liberdade', 'o poderoso chefao', 'batman: o cavaleiro das trevas', 'o poderoso chefão: Parte 2', '12 homens e uma sentença', ' O senhor dos anéis: O retorno do rei', ' A lista de Schindler', 'o senhor dos anéis: A sociedade do anel', ' Pulp Fiction', 'Tres homens em conflito', 'Tres homens em conflito', 'Tres homens em conflito', 'Tres homens em conflito']

EXERCICIO 3

In [34]:
filmes = {
    "um sonho de liberdade": { 'ano': 1994,
      'diretor': 'Frank Darabont',
      'genero': 'Drama'
    }
    , "o poderoso chefao":{
        'ano': 1972,
        'diretor' : 'Francis Ford Coppola',
        'genero' : 'Crime'
    }, "batman: o cavaleiro das trevas" : {
        'ano': 2008,
        'diretor' : 'Christopher Nolan',
        'genero' : 'Ação'
    }, "o poderoso chefão: Parte 2": {
        'ano': 1974,
        'diretor' : 'Francis Ford Coppola',
        'genero' : 'Crime'
    }, "12 homens e uma sentença":{
        'ano': 1957,
        'diretor' : 'Sidney Lumet',
        'genero' : 'Drama'
    }, " O senhor dos anéis: O retorno do rei":{
        'ano': 2003,
        'diretor' : 'Peter Jackson',
        'genero' : 'Fantasia'
    }, " A lista de Schindler":{
        'ano': 1993,
        'diretor' : 'Steven Spielberg',
        'genero' : 'Drama'
    }, "o senhor dos anéis: A sociedade do anel": {
        'ano': 2001,
        'diretor' : 'Peter Jackson',
        'genero' : 'Fantasia'
    }, " Pulp Fiction": {
        'ano': 1994,
        'diretor' : 'Quentin Tarantino',
        'genero' : 'Crime'
    }, "Tres homens em conflito":{
        'ano': 1966,
        'diretor' : 'Sergio Leone',
        'genero' : 'Faroeste'
    }
}

print(filmes)
print(type(filmes))

{'um sonho de liberdade': {'ano': 1994, 'diretor': 'Frank Darabont', 'genero': 'Drama'}, 'o poderoso chefao': {'ano': 1972, 'diretor': 'Francis Ford Coppola', 'genero': 'Crime'}, 'batman: o cavaleiro das trevas': {'ano': 2008, 'diretor': 'Christopher Nolan', 'genero': 'Ação'}, 'o poderoso chefão: Parte 2': {'ano': 1974, 'diretor': 'Francis Ford Coppola', 'genero': 'Crime'}, '12 homens e uma sentença': {'ano': 1957, 'diretor': 'Sidney Lumet', 'genero': 'Drama'}, ' O senhor dos anéis: O retorno do rei': {'ano': 2003, 'diretor': 'Peter Jackson', 'genero': 'Fantasia'}, ' A lista de Schindler': {'ano': 1993, 'diretor': 'Steven Spielberg', 'genero': 'Drama'}, 'o senhor dos anéis: A sociedade do anel': {'ano': 2001, 'diretor': 'Peter Jackson', 'genero': 'Fantasia'}, ' Pulp Fiction': {'ano': 1994, 'diretor': 'Quentin Tarantino', 'genero': 'Crime'}, 'Tres homens em conflito': {'ano': 1966, 'diretor': 'Sergio Leone', 'genero': 'Faroeste'}}
<class 'dict'>

In [35]:

filmess = dict(
    nome = 'Um sonho de liberdade',
    ano = 1994,
    sinopse = 'Dois homens presos se reúnem ao longo de vários anos, encontrando consolo e eventual redenção através de atos de decência comum',

    nome1 = 'O poderoso Chefão',
    ano1 = 1972,
    sinopse1 = 'O patriarca idoso de uma dinastia do crime organizado transfere o controle de seu império clandestino para seu filho relutante.',
    
    nome2 = 'O poderoso chefão II',
    ano2 = 1974,
    sinopse2 = 'Em 1950, Michael Corleone, agora à frente da família, tenta expandir o negócio do crime a Las Vegas, Los Angeles e Cuba. Paralelamente, é revelada a história de Vito Corleone, e de como saiu da Sicília e chegou a Nova Iorque.',
    
    nome3 = 'Batman: O cavaleiro das trevas',
    ano3 = 2008,
    sinopse3 = 'Quando a ameaça conhecida como O Coringa surge de seu passado, causa estragos e caos nas pessoas de Gotham. O Cavaleiro das Trevas deve aceitar um dos maiores testes para combater a injustiça.',
    
    nome4 = '12 Homens e uma sentença',
    ano4 = 1957,
    sinopse4 = 'Um jurado que se aposenta tenta evitar um erro judicial forçando seus colegas a reconsiderarem as evidências.',
    
    nome5 = 'A lista de Schindler',
    ano5 = 1993,
    sinopse5 = 'Depois de testemunhar a perseguição dos judaicos na Polônia ocupada pelos alemães durante a Segunda Guerra Mundial, o industrial Oskar Schindler se começa a preocupar com sua força de trabalho judaica.',
    
    nome6 = 'O senhor dos anéis: O retorno do Rei',
    ano6 = 2003,
    sinopse6 = 'Gandalf e Aragorn lideram o Mundo dos Homens contra o exército de Sauron para desviar o olhar de Frodo e Sam quando eles se aproximam á Montanha da Perdição com o Um Anel.',
    
    nome7 = 'Pulp Fiction: Tempo de violência',
    ano7 = 1994,
    sinopse7 = 'As vidas de dois assassinos da máfia, um boxeador, um gângster e sua esposa, e um par de bandidos se entrelaçam em quatro histórias de violência e redenção.',
    
    nome8 = 'Três homens em conflito',
    ano8 = 1966,
    sinopse8 = 'Um impostor se junta com dois homens para encontrar fortuna num remoto cemitério.',
    
    nome9 = 'O senhor dos anéis: A sociedade do anel',
    ano9 = 2001,
    sinopse9 = 'Um manso hobbit do Condado e oito companheiros partem em uma jornada para destruir o poderoso Um Anel e salvar a Terra-média das Trevas.'
    
)



print(filmess)
print(type(filmess))

{'nome': 'Um sonho de liberdade', 'ano': 1994, 'sinopse': 'Dois homens presos se reúnem ao longo de vários anos, encontrando consolo e eventual redenção através de atos de decência comum', 'nome1': 'O poderoso Chefão', 'ano1': 1972, 'sinopse1': 'O patriarca idoso de uma dinastia do crime organizado transfere o controle de seu império clandestino para seu filho relutante.', 'nome2': 'O poderoso chefão II', 'ano2': 1974, 'sinopse2': 'Em 1950, Michael Corleone, agora à frente da família, tenta expandir o negócio do crime a Las Vegas, Los Angeles e Cuba. Paralelamente, é revelada a história de Vito Corleone, e de como saiu da Sicília e chegou a Nova Iorque.', 'nome3': 'Batman: O cavaleiro das trevas', 'ano3': 2008, 'sinopse3': 'Quando a ameaça conhecida como O Coringa surge de seu passado, causa estragos e caos nas pessoas de Gotham. O Cavaleiro das Trevas deve aceitar um dos maiores testes para combater a injustiça.', 'nome4': '12 Homens e uma sentença', 'ano4': 1957, 'sinopse4': 'Um jurado que se aposenta tenta evitar um erro judicial forçando seus colegas a reconsiderarem as evidências.', 'nome5': 'A lista de Schindler', 'ano5': 1993, 'sinopse5': 'Depois de testemunhar a perseguição dos judaicos na Polônia ocupada pelos alemães durante a Segunda Guerra Mundial, o industrial Oskar Schindler se começa a preocupar com sua força de trabalho judaica.', 'nome6': 'O senhor dos anéis: O retorno do Rei', 'ano6': 2003, 'sinopse6': 'Gandalf e Aragorn lideram o Mundo dos Homens contra o exército de Sauron para desviar o olhar de Frodo e Sam quando eles se aproximam á Montanha da Perdição com o Um Anel.', 'nome7': 'Pulp Fiction: Tempo de violência', 'ano7': 1994, 'sinopse7': 'As vidas de dois assassinos da máfia, um boxeador, um gângster e sua esposa, e um par de bandidos se entrelaçam em quatro histórias de violência e redenção.', 'nome8': 'Três homens em conflito', 'ano8': 1966, 'sinopse8': 'Um impostor se junta com dois homens para encontrar fortuna num remoto cemitério.', 'nome9': 'O senhor dos anéis: A sociedade do anel', 'ano9': 2001, 'sinopse9': 'Um manso hobbit do Condado e oito companheiros partem em uma jornada para destruir o poderoso Um Anel e salvar a Terra-média das Trevas.'}
<class 'dict'>

Modulo 3  16/01/2026

Aula 3:1 Fluxo Condicional e repetição

In [36]:
# ESTRUTURA CONDICIONAL IF/ELSE
if True:
    print("Condição verdadeira")
else: 
    print("Condição falsa")

Condição verdadeira

In [37]:
codigo_seguranca = '852'
codigo_seguranca_cartao = '832'

if codigo_seguranca == codigo_seguranca_cartao:
    print("Pagamento efetuado com sucesso!")
else:
    print("Falha na autenticação do cartão. Pagamento não efetuado.")

Falha na autenticação do cartão. Pagamento não efetuado.

Aula Ebac 3.2

Estruturas Condicionais / try / except / finally

In [38]:
### Estrutura para lidar com execeções de erro
preco = 1500
pessoa = 0 

try: 
    valor_pessoa = preco / pessoa 
    print(f"O valor por pessoa é R$ {valor_pessoa:.2f}")
except ZeroDivisionError:
    print("Erro: Divisão por zero. Número de pessoas deve ser maior que zero.")

Erro: Divisão por zero. Número de pessoas deve ser maior que zero.

In [39]:
anos = [2001, 2002, 2003]

try:
    ano_atual = anos[3]
    print(ano_atual)
except Exception:
    print("Erro no código: Índice fora do intervalo.")

Erro no código: Índice fora do intervalo.

In [40]:
anos = [2001, 2002, 2003]

try:
    ano_atual = anos[3]
    print(ano_atual)
except Exception as e:
    print(f"Descrição do erro: {e}")
    print(f"O tipo de erro: {type(e)}")

Descrição do erro: list index out of range
O tipo de erro: <class 'IndexError'>

In [41]:
nome = "Andre Perez"
idade = 

try:
    apresentacao = "Olá, meu nome é " + nome + " e tenho " + idade + " anos."
    print(apresentacao)
except TypeError:
    idade = str(idade)
finally:
    print("Segunda chance")
    apresentacao = "Ola meu nome é " + nome + " e tenho " + idade + " anos. "
    print(apresentacao)

SyntaxError: invalid syntax (427401271.py, line 2)

Aula 3.3 Estrutura de Comparação 
estrutura de for/in

In [ ]:
for valor in range(10):
    print(valor)

0
1
2
3
4
5
6
7
8
9

In [ ]:
soma = 0 

for valor in range(1,10):
    soma = soma + valor 
    print(soma)

1
3
6
10
15
21
28
36
45

In [ ]:
for multiplo_dois in range(2,10,2):  # range(inicio, fim - 1, passo): 
    print(multiplo_dois)

2
4
6
8

In [ ]:
### estrutura de repetição em lista 
frutas = ['maca', 'banana', 'laranja', 'uva']
for fruta in frutas:
    print(fruta)

maca
banana
laranja
uva

In [ ]:
# Identificar caracteres especificos em uma frase
frase = "fala pessoal! Meu nome é Andre Perez."

for caracter in frase:
    if (caracter == 'A') | (caracter == 'z'):
        print(f"A letra '{caracter}' esta presente na frase. ")

A letra 'A' esta presente na frase.
A letra 'z' esta presente na frase.

In [ ]:
credito = {"123": 750, "456": 670, "789": 980}
for chave, valor in credito.items():
    print(f"Para o documento {chave}, o score de crédito é {valor}.")
    print("\n")

for chave in credito.keys():
    print(chave)
    print(credito[chave])
    print(f"O documento {chave} tem score de crédito {credito[chave]}.")
    print("\n")

Para o documento 123, o score de crédito é 750.


Para o documento 456, o score de crédito é 670.


Para o documento 789, o score de crédito é 980.


123
750
O documento 123 tem score de crédito 750.


456
670
O documento 456 tem score de crédito 670.


789
980
O documento 789 tem score de crédito 980.

In [ ]:
for valor in credito.values():
    print(valor)
    print(f"O valor é {valor}, mas nao temos mais as chaves")
    print("\n")

750
O valor é 750, mas nao temos mais as chaves


670
O valor é 670, mas nao temos mais as chaves


980
O valor é 980, mas nao temos mais as chaves

In [ ]:
for i in range(0, 10*10*10*10):
    print(i)
    if i == 2:
        break

0
1
2

In [ ]:
numero = 10 

if numero % 2 == 0:
    print(f"O numero {numero} é par.")
else: 
    print(f"O numero {numero} é ímpar.")

O numero 10 é par.

In [ ]:
numeros = [271, 267, 389, 490, 512]

for numero in numeros:
    if numero % 2 == 0:
        print(f"Foi encontrado um numero par: {numero}")
        break
    else:
        print(f"O numero {numero} é impar.")

O numero 271 é impar.
O numero 267 é impar.
O numero 389 é impar.
Foi encontrado um numero par: 490

In [ ]:
### Uso do continue
numeros = [ 235, 467, 389, 491, 513, 222 ]

for numero in numeros:
    if numero % 2 == 0:
        print(f"O numero {numero} é par.")
        break 
    else:
        continue
        print(f"O numero {numero} é impar.")

O numero 222 é par.

EXERCICIO MÓDULO 3

Estruturas Condicionais

In [ ]:
propaganda_online = [
  {'tempo_gasto_site': 68.95, 'idade': 35, 'renda_area': 61833.90, 'tempo_gasto_internet': 256.09, 'cidade': 'Wrightburgh', 'pais': 'Tunisia', 'clicou_no_ad': 0},
  {'tempo_gasto_site': 80.23, 'idade': 31, 'renda_area': 68441.85, 'tempo_gasto_internet': 193.77, 'cidade': 'West Jodi', 'pais': 'Nauru', 'clicou_no_ad': 0},
  {'tempo_gasto_site': 69.47, 'idade': 26, 'renda_area': 59785.94, 'tempo_gasto_internet': 236.50, 'cidade': 'Davidton', 'pais': 'San Marino', 'clicou_no_ad': 0},
  {'tempo_gasto_site': 68.37, 'idade': 35, 'renda_area': 73889.99, 'tempo_gasto_internet': 225.58, 'cidade': 'South Manuel', 'pais': 'Iceland', 'clicou_no_ad': 0},
  {'tempo_gasto_site': 88.91, 'idade': 33, 'renda_area': 53852.85, 'tempo_gasto_internet': 208.36, 'cidade': 'Brandonstad', 'pais': 'Myanmar', 'clicou_no_ad': 0},
  {'tempo_gasto_site': None, 'idade': 48, 'renda_area': 24593.33, 'tempo_gasto_internet': 131.76, 'cidade': 'Port Jefferybury', 'pais': 'Australia', 'clicou_no_ad': 1},
  {'tempo_gasto_site': 74.53, 'idade': 30, 'renda_area': 68862.00, 'tempo_gasto_internet': 221.51, 'cidade': 'West Colin', 'pais': 'Grenada'},
  {'tempo_gasto_site': 69.88, 'idade': 20, 'renda_area': 55642.32, 'tempo_gasto_internet': 183.82, 'cidade': 'Ramirezton', 'pais': 'Ghana', 'clicou_no_ad': 0}
]

In [ ]:
print(type(propaganda_online))

<class 'list'>

In [ ]:
## Exercicio 1 

for registro in propaganda_online:
    print(registro['tempo_gasto_site']) 
    print(registro['idade'])
    print('\n')

68.95
35


80.23
31


69.47
26


68.37
35


88.91
33


None
48


74.53
30


69.88
20

In [ ]:
## Exercicio 2
for registro in propaganda_online:
    if registro['tempo_gasto_internet'] > 100:
        print(registro['cidade'])
    else:
        continue

Wrightburgh
West Jodi
Davidton
South Manuel
Brandonstad
Port Jefferybury
West Colin
Ramirezton

In [ ]:
### exercicio 3 

for registro in propaganda_online:
        try: 
             if registro['tempo_gasto_site'] > 70: 
                print(registro['cidade'])
                print('\n')
        except TypeError:
            print(f"Houve um registro na cidade {registro['cidade']} em que não houve tempo gasto no site registrado.")
            print('\n')

West Jodi


Brandonstad


Houve um registro na cidade Port Jefferybury em que não houve tempo gasto no site registrado.


West Colin

MÓDULO 4 

Arquivos e Funçoes

In [ ]:
### with / open 

# with open(file=<caminho do arquivo>, mode='modo de leitura', encoding=<decodificador>) as <apelido>:
#    <bloco de código>

In [ ]:
# READ

# conteudo = None 
# with open(file=<caminho do arquivo>, mode='r', encoding="utf8") as <apelido>:
#    conteudo = <apelido>.read()
#    print(conteudo)

In [ ]:
# Readline 

 conteudo = None 
 with open(file=<caminho do arquivo>, mode='r', encoding="utf8") as <apelido>:
   linha = <apelido>.readline()
   while linha:
    conteudo.append(linha)
    linha = arquivo.readline

In [ ]:
for linha in conteudo:
    print(linha)

In [ ]:
idades = []

with open(file=<caminho do arquivo>, mode='r', encoding="utf8") as arquivo:
linha = arquivo.readline()
linha = arquivo.readline()
while linha:
    linha_separada = linha.split(sep=',') # quebra strings nas virgulas e salva em uma lista
    idade = linha_separada[0]
    idade = int(idade)
    idades.append(idade)
    linha = arquivo.readline()

print(idades)

In [ ]:
## ESCRITA 
# WITH / OPEN

LISTA 3 - 13 DE MAIO 2024 
EMILIO BRAZIL

In [ ]:
## questao 1 
x = 21 
myList = [10, 11, x, 13, "ola", "casa", "carro", "pé"]
for i in myList[1:]:
    print(i)

# resposta: [11, 21, 13, "ola", "casa", "carro", "pé"]

11
21
13
ola
casa
carro
pé

In [ ]:
### questao 1b)
x = True or False 
myList = [10, 11, x, 13, "ola", "casa", "carro", "pé"]
for i in myList[1:-3]:
    print(i)

# resposta: [11, True, 13, "ola"]

11
True
13
ola

In [ ]:
## questao 1c) 
x = not True or False 
myList =[10, 11, x, 13, "ola", "casa", "carro", "pé"]
for i in myList[::-3]:   # [inicio: fim - 1: passo]
    print(i)

# resposta: ["casa", 21]

pé
ola
11

In [ ]:
oList =[1,2,3]
myList = [[11,22,33,44], oList, [ 'ola', 'tchau']]
oList.append(4)
for i in myList:
    print(i)

#resposta: [[11,22,33,44], [1,2,3,4], ['ola', 'tchau']]

[11, 22, 33, 44]
[1, 2, 3, 4]
['ola', 'tchau']

In [ ]:
### questão 2

def isPalindrome(string: str) -> bool:
    string = string.upper()
    string1 = list(string)
    string1 = ''.join(c for c in string1 if c not in " ,.-áãâéêíóôõúç")
    string_invertida = string1[::-1]
    if string1 == string_invertida:
        return True
    else:
        return False

In [ ]:
nome =  "Socorram-me, subi no ônibus em Marrocos"
print(isPalindrome(string=nome))  
#print(list(nome))

False

In [ ]:
nome = "ovo"
nome2 = isPalindrome(string=nome)
print(nome2)

False

AULA 4.2 

ESCREVER ARQUIVOS

r -> read o arquivo, somente lê o arquivo 
w -> escrever no arquivo, vai perder o arquivo original (sobreescreve o arquivo original)
a -> append somente acrescenta nao altera o arquivo original

In [ ]:
## write 
conteudo = None 
with open(file="", mode="r", encoding="utf8") as arquivo:
    conteudo = arquivo.read()
    print(conteudo)

In [ ]:
idades = [19, 22, 21, 20, 25, 30, 18, 24, 27, 23]

In [ ]:
with open(file="idade.csv", mode="w", encoding="utf8") as fp:
    linha = "idade" + "\n"
    fp.write(linha)
    for idade in idades:
        linha = str(idade) + "\n"
        fp.write(linha)

PARA MUDAR O TIPO DE ARQUIVO PODEMOS FAZER UM CÓDIGO EM PYTHON

In [ ]:
### Copiar conteúdo de um arquivo para outro
### Usar código no Colab 

with open(file="banco.txt", mode="r", encoding="utf8") as leitura:
  with open(file="banco.csv", mode="w", encoding="utf8") as escrita:
    linha = leitura.readline()
    while linha:
      escrita.write(linha)
      linha =leitura.readline()

FileNotFoundError: [Errno 2] No such file or directory: 'banco.txt'

AULA 4.3 FUNÇÕES

In [ ]:
'''
Definição:
def <nome>(<parametro 1>, <parametro 2>, ...):
    bloco de código
    return <valor de retorno>
'''
'''
var = <nome da função>(parametro 1, parametro 2, ...)

'''

'\nDefinição:\ndef <nome>(<parametro 1>, <parametro 2>, ...):\n    bloco de código\n    return <valor de retorno>\n'

In [ ]:
def imprime(mensagem: str):
    print(mensagem)

In [ ]:
texto = "fala pessoa, meu nome é Andre Perez."

imprime(texto)

fala pessoa, meu nome é Andre Perez.

AULA 4 - ESCOPO

In [ ]:
%%writefile carros.csv

id,valor_venda,valor_manutencao,portas,pessoas,porta_malas

1,vhigh,med,2,2,small

2,med,vhigh,2,2,small

3,low,vhigh,2,2,small

4,low,high,2,2,small

5,low,high,2,2,small

6,low,high,4,4,big

7,low,high,4,4,big

8,low,med,2,2,small

9,low,med,2,2,small

10,low,med,2,2,small

11,low,med,4,4,big

12,low,low,2,2,small

13,low,low,4,4,small

14,low,low,4,4,med

Writing carros.csv

In [ ]:


def extrai_coluna_csv(nome_arquivo: str, indice_coluna: int, tipo_dado: str):
  coluna = []
  with open(nome_arquivo, 'r', 'utf8') as fp:
    fp.readline() # pular cabeçalho
    linha = fp.readline()
    while linha:
            linha = linha.strip() # remove espaços em branco e "\n" das pontas
            partes = linha.split(',') # separa valores em um lista pelas virgulas

            valor = partes[indice_coluna]

            if tipo_dado == 'int':
                valor = int(valor)
            elif tipo_dado == 'float':
                valor = float(valor)
            else:
                valor = str(valor)

            coluna.append(valor)
            linha = fp.readline()

    return coluna

Modulo 5 :  PROGRAMAÇÃO FUNCIONAL 

**Função lambda: usada para resolver problemas de maneira rápida;**

**Função map: ajuda a distribuir os elementos da coleção quando solicitado;**

**Função filter: ajuda a filtrar elementos de uma coleção;**

**Função reduce: ajuda a reduzir os elementos para torná-lo único.**

In [ ]:
# função lambda

# variavel = lambda <parametros>: <expressão>

extrair_provedor = lambda email: email.split('@')[-1]
 
email =  "beatriz_nunes@hotmail.com"
provedor = extrair_provedor(email)
print(provedor)

hotmail.com

In [ ]:
numero_par = lambda numero: numero if numero % 2 == 0 else False # "%" é o resto da divisão

numero = range(0,10)

for n in numero:
    if numero_par(n):
        print(f"O numero {n} é par.")
    else:
        continue

O numero 2 é par.
O numero 4 é par.
O numero 6 é par.
O numero 8 é par.

In [ ]:
def retorno(juros: float):
    return lambda valor: valor * (1+juros)

retorno_5 = retorno(0.05)
retorno_10 = retorno(0.1)
print(retorno_5(valor =1000)) # o 1000 é o valor que será aplicado o juros
print(retorno_10(valor =1000)) # o 1000 é o valor que será aplicado o juros

1050.0
1100.0

In [ ]:
anos = 10
valor_inicial = 1000
valor_final = valor_inicial 

for ano in range(1, anos + 1):
    valor_final = retorno_5(valor = valor_final)

valor_inicial = round(valor_final, 2) # o round redonda o valor para 2 casas decimais
print(valor_final)

1628.8946267774422

In [ ]:
# Função map 

numeros = [1, 2, 3, 4, 5]

numero_ao_cubo = map(lambda num: num ** 3, numeros)
print(list(numero_ao_cubo))

[1, 8, 27, 64, 125]

In [ ]:
emails = ["andre.perez@gmail.com", "maria.bethania@yahoo.com", "beatriznunes@hotmail.com"]
extrair_provedor = lambda email: email.split(sep="@")[-1]

provedores = []
for email in emails:
    provedor = extrair_provedor(email)
    provedores.append(provedor)
print(provedores)

# --------------------------------------------------------------------------------------
provedores_map = map(extrair_provedor, emails)
print(list(provedores_map))

#---------------------------------------------------------------------------------------
provedores_map = list(map(extrair_provedor, emails))
print(provedores_map)

#---------------------------------------------------------------------------------------
provedores_map = list(map(lambda email: email.split(sep="@")[-1], emails))
print(provedores_map)

['gmail.com', 'yahoo.com', 'hotmail.com']
['gmail.com', 'yahoo.com', 'hotmail.com']
['gmail.com', 'yahoo.com', 'hotmail.com']
['gmail.com', 'yahoo.com', 'hotmail.com']

In [ ]:
anos = [10, 10, 10]
taxa_juros = [0.05, 0.1, 0.15]
valor_inicial = [1000, 1000, 1000]

def retorno(anos: float, taxa_juros: float, valor_inicial: float) -> float:
    valor_final = valor_inicial 
    for ano in range(1, anos + 1):
        valor_final = valor_final * (1 + taxa_juros)
    return round(valor_final, 2)

cenarios = list(map(retorno, anos, taxa_juros, valor_inicial))
print(cenarios)

[1628.89, 2593.74, 4045.56]

In [ ]:
# função filter
# variavel = filter(lambda <parametros>: <expressão>, <iterável>)

numeros =[1,2,3]

numeros_impar = filter(lambda num: num % 2 != 0, numeros)
print(list(numeros_impar))

[1, 3]

In [ ]:
emails = ["andre.perez@gmail.com", "beatriz.nunes@hotmail.com", "andre@yahoo.com"]
provedor_google = lambda email: "gmail" in email 

emails_google = []
for email in emails:
    if provedor_google(email) == True:
        emails_google.append(email)

print(emails_google)

['andre.perez@gmail.com']

In [ ]:
emails_google = filter(provedor_google, emails)
print(list(emails_google))

['andre.perez@gmail.com']

In [ ]:
emails_google = list(filter(lambda email: "gmail" in email, emails))
print(emails_google)

['andre.perez@gmail.com']

In [ ]:
emails_google = filter(lambda email: "gmail" in email, emails)
print(list(emails_google))

['andre.perez@gmail.com']

In [ ]:
# Função Reduce 
# trabalha de dois em dois elementos de uma lista e reduz a um único valor
# variavel = reduce(lambda <param1>, <param2>: <expressão>, <iterável>)


from functools import reduce  ## biblioteca necessária

numeros = [1, 2,3]

soma = reduce(lambda a, b: a +b, numeros)
print(soma)

6

In [ ]:
def maior_entre(primeiro: int, segundo: int) -> int:
    return primeiro if primeiro >= segundo else segundo

primeiro = 1
segundo = 10
maior = maior_entre(primeiro, segundo)
print(maior)

10

In [ ]:
from random import random
print(random()) # sempre gera um número entre 0 e 1

0.8040710396344308

In [ ]:
from random import random
numeros = [round(100* random()) for _ in range(0,100)] # gera 10 números aleatórios entre 0 e 100 # "_" o inderline nao nos interessa o valor da variável
print(numeros)

[2, 95, 96, 81, 41, 67, 38, 52, 23, 4, 67, 50, 49, 62, 3, 16, 73, 53, 4, 48, 14, 30, 46, 76, 14, 18, 35, 46, 80, 19, 22, 26, 84, 74, 68, 7, 74, 44, 9, 35, 94, 68, 6, 0, 1, 8, 51, 83, 3, 35, 2, 73, 95, 95, 90, 88, 46, 19, 35, 35, 47, 19, 22, 46, 39, 68, 37, 70, 13, 4, 72, 33, 13, 68, 70, 56, 55, 91, 17, 51, 18, 94, 2, 9, 84, 20, 24, 58, 58, 44, 79, 9, 46, 65, 74, 48, 65, 76, 61, 44]

In [ ]:
maior_numero = reduce(maior_entre, numeros)
print(maior_numero)

96

In [ ]:
maior_numero = reduce(lambda primeiro, segundo: primeiro if primeiro >= segundo else segundo, numeros)
print(maior_numero)

96

In [ ]:
# compossibilidade

from random import random
numeros = [round(100 * random()) for _ in range(0,100)] # gera 10 números aleatórios entre 0 e 100
print(numeros)

numero_ao_quadrado = map(lambda num: num **2, numeros)

# filtra os numeros impares 
numero_impar = filter(lambda num: num % 2 != 0, numero_ao_quadrado)

# soma todos os numeros 
soma = reduce(lambda a,b: a +b, numero_impar)
print(soma)


# todos os metodos de uma vez
soma = reduce(lambda a,b: a + b, filter(lambda num: num % 2 != 0, map(lambda num: num ** 2, numeros)))
print(soma)

[68, 97, 56, 25, 39, 43, 2, 8, 32, 33, 83, 89, 86, 60, 34, 54, 93, 66, 46, 99, 68, 60, 93, 5, 96, 19, 71, 83, 97, 67, 21, 92, 49, 26, 57, 97, 34, 28, 77, 21, 3, 91, 11, 26, 36, 45, 88, 48, 95, 44, 49, 5, 63, 98, 71, 21, 18, 88, 98, 35, 39, 91, 75, 13, 85, 36, 14, 86, 54, 1, 43, 92, 30, 35, 88, 35, 23, 30, 39, 50, 55, 42, 17, 16, 33, 29, 50, 44, 30, 68, 96, 58, 0, 98, 33, 39, 34, 8, 57, 88]
177323
177323

In [ ]:
dicio = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4
}

print(dicio['a'])

1

In [ ]:
numero = ["10", "35", "46"]
numero_int = lambda num: int(num)
numero_con = map(numero_int, numero)
print(list(numero_con))

[10, 35, 46]

In [ ]:
## CLASSES
class Pessoa(object):
    def __init__(self):
        pass

In [ ]:
### ATRIBUTOS
class Pessoa(object):
    def __init__(self, nome: str, idade: int, documento: str):
        self.nome = nome
        self.idade = idade
        self.documento = documento

In [ ]:
## MÉTODOS
from time import sleep

class Pessoa(object):
    def __init__(self, nome: str, idade: int, documento: str = None):
        self.nome = nome
        self.idade = idade
        self.documento = documento 

    def dormir(self, horas: int)-> None:
        for hora in range(1, horas +1):
            print(f"dormindo por {hora} horas")
            sleep(1) #função que pausa a execução por n segundos
    
    def falar(self, texto: str) -> None: # usa o None quando o método não retorna nada
        print(texto)

    def __str__(self)-> str: # método especial para representar o objeto como string
        return f"{self.nome}, {self.idade} anos, documento: {self.documento}"
    
    # quando uma função usa inderline "__" antes do nome, ela é chamada de método especial e tem um propósito específico na linguagem Python.

In [ ]:
## OBJETOS 

andre = Pessoa(nome="Andre Perez", idade=30, documento="123")
maria = Pessoa(nome="Maria Perez", idade=28, documento="456")
pedro = Pessoa(nome="Pedro Perez", idade=8)

In [ ]:
print(andre.nome)
print(maria.idade)

Andre Perez
28

In [ ]:
## ATRIBUTOS 

def maior_idade(idade: int) -> bool:
    return idade >= 18
if maior_idade(idade=andre.idade):
    print(f"{andre.nome} é maior de idade.")

Andre Perez é maior de idade.

In [ ]:
score_credito = {'123': 750, '456': 670, '789': 980}
score = score_credito[andre.documento]
print(score)

750

In [ ]:
## MÉTODOS
andre.dormir(horas=2)

dormindo por 1 horas
dormindo por 2 horas

In [ ]:
andre.falar(texto='Olá, mundo!')

Olá, mundo!

In [ ]:
print(andre)

Andre Perez, 30 anos, documento: 123

In [ ]:
type(andre)

__main__.Pessoa

In [ ]:
### EXEMPLOS 
### TUDO NO PYTHON É UM OBJETO!

tipos = [ type(10), type(1.1), type("ebac"),type(True), type(None), type([1,2,3]), type({1,2,3}), type({"amarelo": 1}), type(lambda x:x) ]

for i in tipos:
    print(i)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>
<class 'list'>
<class 'set'>
<class 'dict'>
<class 'function'>

In [ ]:
nome = "Andre Perez"
print(nome.upper())

ANDRE PEREZ

In [ ]:
juros = [0.2, 0.5, 0.15]
print(juros.pop(1))
print(juros)

0.5
[0.2, 0.15]

In [ ]:
# classe arquivo CSV

In [ ]:

from time import sleep

class Pessoa(object):
    def __init__(self, nome: str, idade: int, documento: str = None):
        self.nome = nome
        self.idade = idade
        self.documento = documento 

    def dormir(self, horas: int)-> None:
        for hora in range(1, horas +1):
            print(f"dormindo por {hora} horas")
            sleep(1) #função que pausa a execução por n segundos
    
    def falar(self, texto: str) -> None: # usa o None quando o método não retorna nada
        print(texto)

    def __str__(self)-> str: # método especial para representar o objeto como string
        return f"{self.nome}, {self.idade} anos, documento: {self.documento}"
    
    # quando uma função usa inderline "__" antes do nome, ela é chamada de método especial e tem um propósito específico na linguagem Python.

In [ ]:
class Universidade(object):
    def __init__(self, nome: str):
        self.nome = nome 
    

class Estudante(Pessoa):
    def __init__(self, nome: str, idade: int, documento: str, universidade: Universidade):
        super().__init__(nome=nome, idade=idade, documento=documento)
        self.universidade = universidade

In [ ]:
usp = Universidade(nome='Universidade de São Paulo')
andre = Estudante(nome='Andre Perez', idade=30, documento="123", universidade=usp)
print(andre)
print(andre.universidade.nome)

Andre Perez, 30 anos, documento: 123
Universidade de São Paulo

In [ ]:
## Pacotes nativos do python 
## EXEMPLOS

import random 

escolha = random.choice([1,2,3])
print(escolha)

numero_aleatorio = random.random() # entre [0,1]
print(numero_aleatorio)

2
0.030055612570736634

In [ ]:
## math 
import math 

potencia = math.pow(10,3) # potencia, (base, potencia)
print(potencia)

num = math.ceil(10.1) #pega o proximo numero inteiro
print(num)

1000.0
11

In [ ]:
## FROM, IMPORT 
## exemplo time 
from time import time, sleep 
print(time())

1769533794.5719526

In [ ]:
sleep(5)

In [ ]:
from datetime import datetime as dt 
##exemplo 
print(dt.now()) 

print(dt.now().day)

print(dt.now().year)

2026-01-27 14:16:24.453938
27
2026

AULA 7.2 - MÓDULO: PACOTES E MÓDULOS

In [ ]:

from time import sleep

class Pessoa(object):
    def __init__(self, nome: str, idade: int, documento: str = None):
        self.nome = nome
        self.idade = idade
        self.documento = documento 

    def dormir(self, horas: int)-> None:
        for hora in range(1, horas +1):
            print(f"dormindo por {hora} horas")
            sleep(1) #função que pausa a execução por n segundos
    
    def falar(self, texto: str) -> None: # usa o None quando o método não retorna nada
        print(texto)

    def __str__(self)-> str: # método especial para representar o objeto como string
        return f"{self.nome}, {self.idade} anos, documento: {self.documento}"
    
    # quando uma função usa inderline "__" antes do nome, ela é chamada de método especial e tem um propósito específico na linguagem Python.

In [ ]:
###  instalando pacotes: pip install <pacote>==<versão>

!pip install requests==2.25.1

Defaulting to user installation because normal site-packages is not writeable
Collecting requests==2.25.1
  Downloading requests-2.25.1-py2.py3-none-any.whl.metadata (4.2 kB)
Collecting chardet<5,>=3.0.2 (from requests==2.25.1)
  Downloading chardet-4.0.0-py2.py3-none-any.whl.metadata (3.5 kB)
Collecting idna<3,>=2.5 (from requests==2.25.1)
  Downloading idna-2.10-py2.py3-none-any.whl.metadata (9.1 kB)
Collecting urllib3<1.27,>=1.21.1 (from requests==2.25.1)
  Downloading urllib3-1.26.20-py2.py3-none-any.whl.metadata (50 kB)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\beatr\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests==2.25.1) (2024.8.30)
Downloading requests-2.25.1-py2.py3-none-any.whl (61 kB)
Downloading chardet-4.0.0-py2.py3-none-any.whl (178 kB)
Downloading idna-2.10-py2.py3-none-any.whl (58 kB)
Downloading urllib3-1.26.20-py2.py3-none-any.whl (144 kB)
Installing collected packages: urllib3, idna, chardet, requests
  Attempting uninstall: urllib3
    Found existing installation: urllib3 2.2.3
    Uninstalling urllib3-2.2.3:
      Successfully uninstalled urllib3-2.2.3
  Attempting uninstall: idna
    Found existing installation: idna 3.10
    Uninstalling idna-3.10:
      Successfully uninstalled idna-3.10
  Attempting uninstall: chardet
    Found existing installation: chardet 5.2.0
    Uninstalling chardet-5.2.0:
      Successfully uninstalled chardet-5.2.0
  Attempting uninstall: requests
    Found existing installation: requests 2.32.3
    Uninstalling requests-2.32.3:
      Successfully uninstalled requests-2.32.3
Successfully installed chardet-4.0.0 idna-2.10 requests-2.25.1 urllib3-1.26.20

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: C:\Users\beatr\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [ ]:
pip install requests

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: C:\Users\beatr\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: requests in c:\users\beatr\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\beatr\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\beatr\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\beatr\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\beatr\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from requests) (2024.8.30)

In [ ]:
## LISTANDO PACOTES: pip freeze
!pip freeze

altair==5.5.0
anyio==4.6.2.post1
arrow==1.3.0
asttokens==2.4.1
attrs==24.2.0
binaryornot==0.4.4
cachetools==5.5.0
certifi==2024.8.30
chardet==4.0.0
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.3.0
cookiecutter==2.6.0
cycler==0.12.1
debugpy==1.8.7
decorator==5.1.1
executing==2.1.0
fastjsonschema==2.20.0
filelock==3.16.1
fonttools==4.54.1
h11==0.14.0
humanize==4.11.0
idna==2.10
ipykernel==6.29.5
ipython==8.29.0
ipyvue==1.11.1
ipyvuetify==1.10.0
ipywidgets==8.1.5
jedi==0.19.1
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
Mesa==2.4.0
Mesa-Viz-Tornado==0.1.3
narwhals==1.26.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
numpy==2.1.0
packaging==24.1
pandas==2.2.3
parso==0.8.4
pillow==10.4.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
psutil==6.1.0
pure_eval==0.2.3
Pygments==2.18.0
pymdown-extensions==10.12
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2024.2
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.0
reacton==1.8.3
referencing==0.35.1
requests==2.25.1
rich==13.9.4
rich-click==1.8.3
rpds-py==0.21.0
scipy==1.14.1
six==1.16.0
sniffio==1.3.1
solara==1.41.0
solara-server==1.41.0
solara-ui==1.41.0
stack-data==0.6.3
starlette==0.41.2
text-unidecode==1.3
tornado==6.4.1
tqdm==4.67.0
traitlets==5.14.3
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.20
uvicorn==0.32.0
watchdog==6.0.0
watchfiles==0.24.0
wcwidth==0.2.13
websockets==13.1
widgetsnbextension==4.0.13

In [ ]:
### uso do REQUESTS
# pacote para interação com o protocolo web HTTP 
import requests as req 
response = req.get("https://www.b3.com.br/pt_br/institucional")

In [ ]:
print(f"status code:{response.status_code}") # retorna se deu certo quando for 200

status code:200

In [ ]:
print(response.text)
print(type(response.text))

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>A Bolsa do Brasil | B3</title>
    <base href="/pt_br/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="6a7bpXYQt1QhKDMYJ1rX468mKkyMr7_5yYudUw78p4A"/>
    <script type="text/javascript" src="/ruxitagentjs_ICANVfgqru_10327251022105625.js" data-dtconfig="rid=RID_-1279145536|rpid=-1862765716|domain=b3.com.br|reportUrl=/rb_ea8d7b8f-040c-423b-b726-54310cab2c40|app=fd69ce40c52bd20e|cuc=kju5m9kg|owasp=1|mel=100000|featureHash=ICANVfgqru|dpvc=1|lastModification=1768603294384|tp=500,50,0|rdnt=1|uxrgce=1|srbbv=2|agentUri=/ruxitagentjs_ICANVfgqru_10327251022105625.js"></script><link rel="icon" type="image/x-icon" href="./../mvp-home-build/favicon.ico">
  <link rel="stylesheet" href="/mvp-home-build/styles.d7b8a2191049f8bd.css"></head>
  <body>
    <app-root></app-root>
  <script src="/mvp-home-build/runtime.43bae02b20b343c0.js" type="module"></script><script src="/mvp-home-build/polyfills.153b8767d0b20a1c.js" type="module"></script><script src="/mvp-home-build/main.338d8cebf7ef2895.js" type="module"></script><script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'9c4ac08508e55cb6',t:'MTc2OTU0MzE0My4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script></body>
</html>
<class 'str'>

In [ ]:
import json 
data = json.loads(response.text) ## nao da certo pq é um código em html 
print(data)

cdi = None 
for key, value in data.items(): # data é um dicionario
    if key == "taxa":
        cdi = value.replace(",",".")
        cdi = float(cdi)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
## Tipos de Erros 
## ERROS DE SINTAXE 
pessoa ={"nome": "Andre Perez", "idade": 19}
if pessoa["idade"] >18:
    print(True)

True

In [ ]:
## ERROS EM TEMPO DE EXECUÇÃO
# erros que ocorrem durante a execução do código.
print(1/0)

ZeroDivisionError: division by zero

Erros de sintaxe 

Exemplos

In [ ]:
carrinho_compras = [{"id": 3156, "preco": 37.32, "qtd": 10}, {"id": 3214, "preco": 54.65, "qtd": 5}]
for produto in carrinho_compras: ### erro comum: esquecer ":" 
    ...

In [ ]:
## exemplo de erro: condição lógica no else da estrutura de decisão if-elif-else 
for produto in carrinho_compras:
    if produto['id']==3156:
        ...
    else produto['id']==3214: # erro de condição lógica, pq nao podemos colocar uma condição no else.
        ...

SyntaxError: expected ':' (2359194129.py, line 5)

In [ ]:
## exemplo de erro: condição lógica no else da estrutura de decisão if-elif-else 
for produto in carrinho_compras:
    if produto['id']==3156:
        ...
    else:
        ...

In [ ]:
## exemplo de erro: condição lógica no else da estrutura de decisão if-elif-else 
for produto in carrinho_compras:
    if produto['id']==3156:
        ...
    elif produto['id']==3214:
        ...

AULA 8.3 - Trate erros em tempo de execução

In [ ]:
%%writefile telecom.csv 
customerID,PaymentMethod,MonthlyCharges,TotalCharges,Churn
 7010-BRBUU,Credit card (automatic),24.1,1734.65,No 
 9688-YGXVR,Credit card (automatic),88.15,3973.2,No 
 9286-DOJGF,Bank transfer (automatic),74.95,2869.85,Yes 
 6994-KERXL,Electronic check,55.9,238.5,No 
 2181-UAESM,Electronic check,53.45,119.5,No 
 4312-GVYNH,Bank transfer (automatic),49.85,3370.2,No 
 2495-KZNFB,Electronic check,90.65,2989.6,No 
 4367-NHWMM,Mailed check,24.9,24.9,No 
 8898-KASCD,Mailed check,35.55,1309.15,No

Overwriting telecom.csv

In [ ]:
from functools import reduce 

def processar_faturas(arquivo: str) -> float:
    faturas = []

    with open(file=arquivo, mode='r', encoding='utf8') as arquivo:
        linha = arquivo.readline()
        linha = arquivo.readline()
        while linha:
            fatura = float(linha.strip().split(sep=",")[-3])
            faturas.append(fatura)
            linha = arquivo.readline()
     
    total_pagar = reduce(lambda x, y: x + y, faturas)
    total_pagar = round(total_pagar, 2)

    return total_pagar

In [ ]:
total_pagar = processar_faturas(arquivo='./telecom.csv')
print(total_pagar)

497.5

In [ ]:
%%writefile telecom.csv 
customerID,MonthlyCharges,PaymentMethod,TotalCharges,Churn 
7010-BRBUU,24.1,Credit card (automatic),1734.65,No 
9688-YGXVR,88.15,Credit card (automatic),3973.2,No 
9286-DOJGF,74.95,Bank transfer (automatic),2869.85,Yes 
6994-KERXL,55.9,Electronic check,238.5,No 
2181-UAESM,53.45,Electronic check,119.5,No 
4312-GVYNH,49.85,Bank transfer (automatic),3370.2,No 
2495-KZNFB,90.65,Electronic check,2989.6,No 
4367-NHWMM,24.9,Mailed check,24.9,No 
8898-KASCD,35.55,Mailed check,1309.15,No

Overwriting telecom.csv

In [ ]:
total_pagar = processar_faturas(arquivo='./telecom.csv')
print(total_pagar)

ValueError: could not convert string to float: 'Credit card (automatic)'

In [ ]:
## exemplo: erro de operações numéricas impossíveis 
preco = 132.85
pessoas = 0 

valor_pessoa = preco/pessoas

## ZeroDivisionError ##

ZeroDivisionError: float division by zero

In [ ]:
# exemplo: erro por combinações de tipos diferentes 
nome = 'Andre Perez'
idade = 20 

apresentacao = 'fala pessoal, meu nome é ' + nome + ' e eu tenho ' + idade + "anos"

## TypeError ##

TypeError: can only concatenate str (not "int") to str

In [ ]:
# exemplo : erro de indexação de estruturas de dados 
anos = [2019, 2020, 2021]
ano_atual = anos[3]
print(ano_atual)

## IndexError ##

IndexError: list index out of range

In [ ]:
# exemplo: erro de indexação de estruturas de dados 

cursos = {
    'python':{
        'nome': 'Python para Analise de dados', 'duracao':2.5
    },
    'sql': {
        'nome':'SQL para Analise de Dados', 'duracao':2
    }
}

In [ ]:
curso_atual = cursos['python']
print(curso_atual)

{'nome': 'Python para Analise de dados', 'duracao': 2.5}

In [ ]:
curso_atual = cursos['analista']
print(curso_atual)

## KeyError ##

KeyError: 'analista'

In [ ]:
## erros de lógica , OS ERROS MAIS DIFÍCEIS DE LIDAR

In [ ]:
# loop infinito 
controle = 0 
while True:
    ...
 #   controle =+ 1  --> erro "=+", certo "+="
    if controle > 10:
        break

In [ ]:
# exemplo: Limites de coleções 
carrinho_compras = [{'id': 3184, 'preco':37.65, 'qtd': 10}, {'id': 1234, 'preco': 45.32, 'qtd': 2}, {'id': 4567, 'preco':54.21, 'qtd':2}]

valor_total = 0 
for indice in range(1,len(carrinho_compras)):  
    valor_total +=carrinho_compras[indice]['preco']* carrinho_compras[indice]['qtd']

valor_total = round(valor_total, 2)
print(valor_total)


### Mesmo que o código retornou um valor, ele esta errado por que pula o primeiro elemento da lista.

199.06

In [ ]:
valor_total = 0
for produto in carrinho_compras:
    valor_total += produto['preco'] * produto['qtd']

valor_total = round(valor_total, 2)
print(valor_total)

575.56

In [ ]:
# exemplo: Limites de coleções 
carrinho_compras = [{'id': 3184, 'preco':37.65, 'qtd': 10}, {'id': 1234, 'preco': 45.32, 'qtd': 2}, {'id': 4567, 'preco':54.21, 'qtd':2}]

valor_total = 0 
for indice in range(1,len(carrinho_compras)): 
    print(carrinho_compras[indice]) 
    valor_total +=carrinho_compras[indice]['preco']* carrinho_compras[indice]['qtd']

valor_total = round(valor_total, 2)
print(valor_total)

### Forma de evitar esse tipo de erro: Usar o Print para analisar o que esta acontecendo no código.

{'id': 1234, 'preco': 45.32, 'qtd': 2}
{'id': 4567, 'preco': 54.21, 'qtd': 2}
199.06

In [ ]:
## Manipulação 
anos = [2019, 2020, 2021]
#anos = {2019, 2020, 2021}

try:
    ano_atual = anos[3]
    print(ano_atual)
except IndexError as exc:
    raise Exception('Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e ' + str(len(anos) - 1))
except Exception as exc:
    raise exc # passa o erro para frente com a estrutura raise

Exception: Lista de anos é menor que o valor escolhido. Espera-se um valor entre 0 e 2

Módulo 9 - Scripting

In [ ]:
### Conferir a versão do Python via Python.

import platform
print(platform.python_version())
print(platform.system())

3.12.7
Windows

In [ ]:
### exemplo: conferindo a versão do Python via Bash (linguagem nativa do Linux)
!python -V

Python 3.12.7

In [ ]:
## exemplo: conferir a versão do PIP via bash (linguagem nativa do Linux)
!pip -V

pip 24.2 from C:\Users\beatr\anaconda3\Lib\site-packages\pip (python 3.12)

AULA 9.2 Crie arquivos de script Pyhton

In [ ]:
import os 
import json 
from random import random 
from datetime import datetime

In [ ]:
import requests 

URL = 'https://www2.cetip.com.br/ConsultarTaxaDi/ConsultarTaxaDICetip.aspx' 
# Criando a variável data e hora 
data_e_hora = datetime.now() 
data = datetime.strftime(data_e_hora, '%Y/%m/%d') 
hora = datetime.strftime(data_e_hora, '%H:%M:%S') 

# Captando a taxa CDI do site da B3 
try: 
    response = requests.get(URL) 
    response.raise_for_status() 
except requests.HTTPError as exc: 
print("Dado não encontrado, continuando.") 
cdi = None 
except Exception as exc: print("Erro, parando a execução.") 
raise exc 
else:
    dado = json.loads(response.text) 
    cdi = float(dado['taxa'].replace(',', '.')) + (random()- 0.5)
# Verificando se o arquivo "taxa-cdi.csv" existe 

if os.path.exists('./taxa-cdi.csv') == False: 
    with open(file='./taxa-cdi.csv', mode='w', encoding='utf8') as fp:
        fp.write('data,hora,taxa\n') 
# Salvando dados no arquivo "taxa-cdi.csv" 
    with open(file='./taxa-cdi.csv', mode='a', encoding='utf8') as fp: 
        fp.write(f'{data},{hora},{cdi}\n') 
        print("Sucesso")

IndentationError: expected an indented block after 'except' statement on line 13 (71960563.py, line 14)

In [ ]:
!python extrair-cdi.py

python: can't open file 'c:\\Users\\beatr\\Downloads\\extrair-cdi.py': [Errno 2] No such file or directory

In [ ]:
from sys import argv 
print(argv) 
print(type(argv))

['c:\\Users\\beatr\\anaconda3\\Lib\\site-packages\\ipykernel_launcher.py', '--f=c:\\Users\\beatr\\AppData\\Roaming\\jupyter\\runtime\\kernel-v3da897fe0e393f9b5588b14abfe6699ef3f51256c.json']
<class 'list'>

In [ ]:
!python args.py andre True 10 20

python: can't open file 'c:\\Users\\beatr\\Downloads\\args.py': [Errno 2] No such file or directory

In [ ]:
#########

import csv 
from sys import argv 
import seaborn as sns

In [ ]:
# Extraindo as colunas hora e taxa 
horas = [] 
taxas = [] 

with open(file='./taxa-cdi.csv', mode='r', encoding='utf8') as fp: 
    linha = fp.readline() 
    linha = fp.readline() 
    while linha: 
        linha_separada = linha.split(sep=',') 
        hora = linha_separada[1] 
        horas.append(hora) 
        taxa = float(linha_separada[2]) 
        taxas.append(taxa) 
        linha = fp.readline() 
        
# Salvando no gráfico 
grafico = sns.lineplot(x=horas, y=taxas) 
grafico.get_figure().savefig(f"{argv[1]}.png")

FileNotFoundError: [Errno 2] No such file or directory: './taxa-cdi.csv'

AULA MÓDULO 10 - Análise de Dados

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('credito_ebac.csv', na_values='na')
df.head()

,id,default,idade,sexo,dependentes,escolaridade,estado_civil,salario_anual,tipo_cartao,meses_de_relacionamento,qtd_produtos,iteracoes_12m,meses_inativo_12m,limite_credito,valor_transacoes_12m,qtd_transacoes_12m
0,768805383,0,45,M,3,ensino medio,casado,$60K - $80K,blue,39,5,3,1,"12.691,51","1.144,90",42
1,818770008,0,49,F,5,mestrado,solteiro,menos que $40K,blue,44,6,2,1,"8.256,96","1.291,45",33
2,713982108,0,51,M,3,mestrado,casado,$80K - $120K,blue,36,4,0,1,"3.418,56","1.887,72",20
3,769911858,0,40,F,4,ensino medio,NaN,menos que $40K,blue,34,3,1,4,"3.313,03","1.171,56",20
4,709106358,0,40,M,3,sem educacao formal,casado,$60K - $80K,blue,21,5,0,1,"4.716,22","816,08",28

In [ ]:
df.shape  # informa (linhas, colunas)

(10127, 16)

In [ ]:
qtd_total, _= df.shape
qtd_total_adimplentes, _ = df[df["default"]==0].shape
qtd_total_inadimplentes, _ = df[df["default"]==1].shape

In [ ]:
print(f"A proporção de adimplentes é de {round(100 * qtd_total_adimplentes / qtd_total, 2)}%")
print(f"A proporção de inadimplentes é de {round(100 * qtd_total_inadimplentes / qtd_total, 2)}%")

A proporção de adimplentes é de 83.93%
A proporção de inadimplentes é de 16.07%

SCHEMA

In [ ]:
df.head()

,id,default,idade,sexo,dependentes,escolaridade,estado_civil,salario_anual,tipo_cartao,meses_de_relacionamento,qtd_produtos,iteracoes_12m,meses_inativo_12m,limite_credito,valor_transacoes_12m,qtd_transacoes_12m
0,768805383,0,45,M,3,ensino medio,casado,$60K - $80K,blue,39,5,3,1,"12.691,51","1.144,90",42
1,818770008,0,49,F,5,mestrado,solteiro,menos que $40K,blue,44,6,2,1,"8.256,96","1.291,45",33
2,713982108,0,51,M,3,mestrado,casado,$80K - $120K,blue,36,4,0,1,"3.418,56","1.887,72",20
3,769911858,0,40,F,4,ensino medio,NaN,menos que $40K,blue,34,3,1,4,"3.313,03","1.171,56",20
4,709106358,0,40,M,3,sem educacao formal,casado,$60K - $80K,blue,21,5,0,1,"4.716,22","816,08",28

In [ ]:
# Colunas e seus respectivos tipos de dados 
# object = string
df.dtypes

id                          int64
default                     int64
idade                       int64
sexo                       object
dependentes                 int64
escolaridade               object
estado_civil               object
salario_anual              object
tipo_cartao                object
meses_de_relacionamento     int64
qtd_produtos                int64
iteracoes_12m               int64
meses_inativo_12m           int64
limite_credito             object
valor_transacoes_12m       object
qtd_transacoes_12m          int64
dtype: object

* Atributos categóricos.

In [ ]:
df.select_dtypes('object').describe().transpose()
# 'top' é o que mais aparece 
# 'freq'  a quantidade do top 
# 'unique' qtd de valores diferentes

                      count unique             top  freq
sexo                  10127      2               F  5358
escolaridade           8608      5        mestrado  3128
estado_civil           9378      3          casado  4687
salario_anual          9015      5  menos que $40K  3561
tipo_cartao           10127      4            blue  9436
limite_credito        10127   9272        1.438,21    11
valor_transacoes_12m  10127  10035        3.851,51     3

* Atributos numéricos

In [ ]:
df.drop('id', axis=1).select_dtypes('number').describe().transpose()

,count,mean,std,min,25%,50%,75%,max
default,10127.0,0.160660,0.367235,0.0,0.0,0.0,0.0,1.0
idade,10127.0,46.325960,8.016814,26.0,41.0,46.0,52.0,73.0
dependentes,10127.0,2.346203,1.298908,0.0,1.0,2.0,3.0,5.0
meses_de_relacionamento,10127.0,35.928409,7.986416,13.0,31.0,36.0,40.0,56.0
qtd_produtos,10127.0,3.812580,1.554408,1.0,3.0,4.0,5.0,6.0
iteracoes_12m,10127.0,2.455317,1.106225,0.0,2.0,2.0,3.0,6.0
meses_inativo_12m,10127.0,2.341167,1.010622,0.0,2.0,2.0,3.0,6.0
qtd_transacoes_12m,10127.0,64.858695,23.472570,10.0,45.0,67.0,81.0,139.0

## 2.3 Dados Faltantes 

dados faltantes podem ser:

* Vazios("");

* Nulos(None);
* Não disponíveis ou aplicáveis (na, NA, etc);
* Não numérico (nan NaN, etc).

In [ ]:
df.head()

,id,default,idade,sexo,dependentes,escolaridade,estado_civil,salario_anual,tipo_cartao,meses_de_relacionamento,qtd_produtos,iteracoes_12m,meses_inativo_12m,limite_credito,valor_transacoes_12m,qtd_transacoes_12m
0,768805383,0,45,M,3,ensino medio,casado,$60K - $80K,blue,39,5,3,1,"12.691,51","1.144,90",42
1,818770008,0,49,F,5,mestrado,solteiro,menos que $40K,blue,44,6,2,1,"8.256,96","1.291,45",33
2,713982108,0,51,M,3,mestrado,casado,$80K - $120K,blue,36,4,0,1,"3.418,56","1.887,72",20
3,769911858,0,40,F,4,ensino medio,NaN,menos que $40K,blue,34,3,1,4,"3.313,03","1.171,56",20
4,709106358,0,40,M,3,sem educacao formal,casado,$60K - $80K,blue,21,5,0,1,"4.716,22","816,08",28

Podemos verificar quais colunas possuem dados faltantes.

In [ ]:
df.isna().any()
# Verifica se há dados faltantes, True = "Há dados faltantes"

id                         False
default                    False
idade                      False
sexo                       False
dependentes                False
escolaridade                True
estado_civil                True
salario_anual               True
tipo_cartao                False
meses_de_relacionamento    False
qtd_produtos               False
iteracoes_12m              False
meses_inativo_12m          False
limite_credito             False
valor_transacoes_12m       False
qtd_transacoes_12m         False
dtype: bool

In [ ]:
def stats_dados_faltantes(df:pd.DataFrame) -> None:
    stats_dados_faltantes = []
    for col in df.columns:
        if df[col].isna().any():
            qtd, _ = df[df[col].isna()].shape
            total, _ =df.shape 
            dict_dados_faltantes ={col: {'quantidade': qtd, "porcentagem":round(100 * qtd/total, 2)}}
            stats_dados_faltantes.append(dict_dados_faltantes)
    for stat in stats_dados_faltantes:
        print(stat)

In [ ]:
# 
stats_dados_faltantes(df=df)

{'escolaridade': {'quantidade': 1519, 'porcentagem': 15.0}}
{'estado_civil': {'quantidade': 749, 'porcentagem': 7.4}}
{'salario_anual': {'quantidade': 1112, 'porcentagem': 10.98}}

In [ ]:
#
stats_dados_faltantes(df=df[df["default"]==0])

{'escolaridade': {'quantidade': 1263, 'porcentagem': 14.86}}
{'estado_civil': {'quantidade': 620, 'porcentagem': 7.29}}
{'salario_anual': {'quantidade': 925, 'porcentagem': 10.88}}

In [ ]:
#
stats_dados_faltantes(df=df[df["default"]==1])

{'escolaridade': {'quantidade': 256, 'porcentagem': 15.73}}
{'estado_civil': {'quantidade': 129, 'porcentagem': 7.93}}
{'salario_anual': {'quantidade': 187, 'porcentagem': 11.49}}

AULA 10.3 

TRANSFORMAÇÃO E LIMPEZA DE DADOS

In [ ]:
## CORREÇÃO DE SCHEMA 
# Na etapa de exploração, notamos que as colunas "limite_credito" e "valor_transacao_12m" estavam sendo interpretadas como colunas categóricas
# (dtype = object )
df[['limite_credito', 'valor_transacoes_12m']].dtypes

limite_credito          object
valor_transacoes_12m    object
dtype: object

In [ ]:
df[['limite_credito','valor_transacoes_12m']].head(n=5)

  limite_credito valor_transacoes_12m
0      12.691,51             1.144,90
1       8.256,96             1.291,45
2       3.418,56             1.887,72
3       3.313,03             1.171,56
4       4.716,22               816,08

In [ ]:
# vamos criar uma função lambda para limpar os dados. Mas antes, vamos testar sua aplicação
# através do método funcional 'map'
fn = lambda valor:float(valor.replace(".","").replace(",","."))

valores_originais = ['12.691,51', '8.256,96', '3.418,56', '3.313,03', '4.716,22']
valores_limpos = list(map(fn, valores_originais))

print(valores_originais)
print(valores_limpos)

['12.691,51', '8.256,96', '3.418,56', '3.313,03', '4.716,22']
[12691.51, 8256.96, 3418.56, 3313.03, 4716.22]

In [ ]:
# Com a função lambda de limpeza pronta, basta aplica-la nas colunas de interesse.

df['limite_credito'] = df['limite_credito'].apply(fn)

In [ ]:
df['valor_transacoes_12m'] = df['valor_transacoes_12m'].apply(fn)

In [ ]:
# vamos descrever novamente o schema:
df.dtypes

id                           int64
default                      int64
idade                        int64
sexo                        object
dependentes                  int64
escolaridade                object
estado_civil                object
salario_anual               object
tipo_cartao                 object
meses_de_relacionamento      int64
qtd_produtos                 int64
iteracoes_12m                int64
meses_inativo_12m            int64
limite_credito             float64
valor_transacoes_12m       float64
qtd_transacoes_12m           int64
dtype: object

In [ ]:
# Atributos categóricos 
df.select_dtypes(object).describe().transpose()

               count unique             top  freq
sexo           10127      2               F  5358
escolaridade    8608      5        mestrado  3128
estado_civil    9378      3          casado  4687
salario_anual   9015      5  menos que $40K  3561
tipo_cartao    10127      4            blue  9436

In [ ]:
# Atributos numéricos 
df.drop('id', axis=1).select_dtypes('number').describe().transpose()

## numero pega tano os inteiros quanto os floats

,count,mean,std,min,25%,50%,75%,max
default,10127.0,0.160660,0.367235,0.00,0.000,0.00,0.000,1.00
idade,10127.0,46.325960,8.016814,26.00,41.000,46.00,52.000,73.00
dependentes,10127.0,2.346203,1.298908,0.00,1.000,2.00,3.000,5.00
meses_de_relacionamento,10127.0,35.928409,7.986416,13.00,31.000,36.00,40.000,56.00
qtd_produtos,10127.0,3.812580,1.554408,1.00,3.000,4.00,5.000,6.00
iteracoes_12m,10127.0,2.455317,1.106225,0.00,2.000,2.00,3.000,6.00
meses_inativo_12m,10127.0,2.341167,1.010622,0.00,2.000,2.00,3.000,6.00
limite_credito,10127.0,8632.440165,9088.788041,1438.00,2555.355,4549.42,11068.175,34516.99
valor_transacoes_12m,10127.0,4404.583047,3397.128078,510.16,2155.825,3899.59,4741.310,18484.93
qtd_transacoes_12m,10127.0,64.858695,23.472570,10.00,45.000,67.00,81.000,139.00

Remoção dos dados faltantes

In [ ]:
# Como o pandas esta ciente do que é um dado faltante, a remoção das linhas problemáticas é trivial
df.dropna(inplace=True)

In [ ]:
# Vamos analisar a estrutura dos dados novamente 
df.shape 

# antes: (10127, 16)

(7081, 16)

In [ ]:
df[df['default']==0].shape

(5968, 16)

In [ ]:
df[df['default']==1].shape

(1113, 16)

In [ ]:
qtd_total_n, _ = df.shape 
qtd_total_adimplentes_n, _ = df[df['default']==0].shape 
qtd_total_inadimplentes_n, _ = df[df['default']==1].shape

In [ ]:
print(f'A proporção de adimplentes ativos é de {round(100 * qtd_total_adimplentes_n / qtd_total_n, 2)}%')
print(f'A nova proporção de inadimplentes é de {round(100 * qtd_total_inadimplentes_n / qtd_total_n, 2)}%')

A proporção de adimplentes ativos é de 84.28%
A nova proporção de inadimplentes é de 15.72%

Visualização de Dados

In [ ]:
import seaborn as sns 
import matplotlib.pyplot as plt 

sns.set_style('whitegrid')

In [ ]:
df_adimplente = df[df['default']==0]

In [ ]:
df_inadimplente = df[df['default']==1]

4.1. Visualização Categóricas

In [ ]:
df.select_dtypes('object').head(n=5)

  sexo         escolaridade estado_civil   salario_anual tipo_cartao
0    M         ensino medio       casado     $60K - $80K        blue
1    F             mestrado     solteiro  menos que $40K        blue
2    M             mestrado       casado    $80K - $120K        blue
4    M  sem educacao formal       casado     $60K - $80K        blue
5    M             mestrado       casado     $40K - $60K        blue

In [ ]:
coluna = 'escolaridade'
titulos = ['Escolaridade dos Clientes', 'Escolaridade dos Clientes Adimplentes', 'Escolaridade dos Clientes Inadimplentes']

eixo = 0 
max_y = 0 
max = df.select_dtypes('object').describe()[coluna]['freq'] * 1.1
figura, eixos = plt.subplots(1,3,figsize=(20,5).sharex=True)

for dataFrame in [df, df_adimplente, df_inadimplente]:

    df_to_plot = dataframe